<!--Blog Features Section-->
<section id="blog_fashion" class="blog_fashion roomy-100">
    <div class="container">
        <div class="row">
            <div class="main_blog_fashion">
                <div class="col-md-8">
                    <div class="blog_fashion_left">
                        <div class="blog_fashion_img">
                            <img src="../public/img/noti1grande.jpeg" alt="" />
                        </div>
                        <div class="blog_fashion_content">
                            <ol class="breadcrumb">
                                <li><a href="#" class="text-black">medio ambiente</a></li>
                                <li><a href="#" class="text-black">Feb 28 2020</a></li>
                                <li><a href="#" class="text-black">2 comments</a></li>
                            </ol>
                            <a href="blog-details.html">
                                <h2>¿Nuestras mascotas pueden transmitirnos enfermedades?</p>


                                    <a href="https://www.eltiempo.com/vida/medio-ambiente/perro-con-coronavirus-pueden-las-mascotas-transmitirnos-enfermedades-467402" target="_blank" class="btn btn-default m-top-20"> Leer más <i
                                            class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog_fashion_right">
                        <div class="fashion_test text-center">
                            <img class="img-circle" src="../public/img/usuario.jpg" alt="" />

                            <h6 class="m-top-20">hecho por</h6>
                            <img class="m-top-20" src="asset" alt="" />
                        </div>

                        <div class="fashion_praspect m-top-40">
                            <div class="fashion_praspect_inner bg-black">
                                <p class="text-white">GABRIEL GARCÍA - @Nosoyesegabo <br>
                                    medico veterinario <br> para: <br> PET SHOP</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- End off row -->

        <hr />

        <div class="row">
            <div class="blog_area fix">
                {{#each objeto}}
                {{#each this}}
                <div class="col-md-4">
                    <div class="blog_item m-top-30">
                        <a href={{links}} target="_blank">
                        <div class="blog_item_img">
                            <img src={{imagenes}} alt="" />
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="#" class="text-black">{{ciudad}}</a></li>
                            <li><a href="#" class="text-black">{{fecha}}</a></li>
                        </ol>
                        <h5>{{titulo}}</h5>
                        </a>
                       {{!--  <p class="m-top-20">Primer análisis de la mascota de una mujer contagiada arrojó que tiene el
                            mal, pero de manera débil.</p> --}}
                    </div>
                </div><!-- End off col-md-4 -->
                {{/each}}
                {{/each}}
            </div>

        </div>

    </div><!-- End off container -->
</section><!-- End off blog Fashion -->




